
.button {
	text-decoration: none;
	display: block;
	color: #000000;
	padding: 0px;
	margin: 0px;
	
	background: #CCCCCC;
	border-top: 2px solid #DDDDDD;
	border-left: 2px solid #DDDDDD;
	border-right: 2px solid #888888;
	border-bottom: 2px solid #888888;
	padding-left: 2px;
	padding-right: 2px;
	-moz-border-radius: 5px 5px 5px 5px;

}


.buttonpress {
	text-decoration: none;
	display: block;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;

	background: #440000;
	border-top: 2px solid #888888;
	border-left: 2px solid #888888;
	border-right: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	padding-left: 2px;
	padding-right: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
}



.buttonhover {
	background: #000000;
	color: #FFFFFF;
	border: 2px solid #000000;
}
